<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlu.dao.AliSendGoodsMapper">
  <resultMap id="BaseResultMap" type="com.longlu.pojo.AliSendGoods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderCode" jdbcType="VARCHAR" property="orderCode" />
    <result column="receiverName" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiverMobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiverAddress" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="expressCompany" jdbcType="VARCHAR" property="expressCompany" />
    <result column="expressNumber" jdbcType="VARCHAR" property="expressNumber" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderCode, receiverName, receiverMobile, receiverAddress, expressCompany, expressNumber, 
    goodsName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ali_send_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ali_send_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longlu.pojo.AliSendGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ali_send_goods (orderCode, receiverName, receiverMobile, 
      receiverAddress, expressCompany, expressNumber, 
      goodsName)
    values (#{orderCode,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{expressCompany,jdbcType=VARCHAR}, #{expressNumber,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longlu.pojo.AliSendGoods">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ali_send_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderCode != null">
        orderCode,
      </if>
      <if test="receiverName != null">
        receiverName,
      </if>
      <if test="receiverMobile != null">
        receiverMobile,
      </if>
      <if test="receiverAddress != null">
        receiverAddress,
      </if>
      <if test="expressCompany != null">
        expressCompany,
      </if>
      <if test="expressNumber != null">
        expressNumber,
      </if>
      <if test="goodsName != null">
        goodsName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressCompany != null">
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
        #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longlu.pojo.AliSendGoods">
    update ali_send_goods
    <set>
      <if test="orderCode != null">
        orderCode = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        receiverName = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        receiverMobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        receiverAddress = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="expressCompany != null">
        expressCompany = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNumber != null">
        expressNumber = #{expressNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longlu.pojo.AliSendGoods">
    update ali_send_goods
    set orderCode = #{orderCode,jdbcType=VARCHAR},
      receiverName = #{receiverName,jdbcType=VARCHAR},
      receiverMobile = #{receiverMobile,jdbcType=VARCHAR},
      receiverAddress = #{receiverAddress,jdbcType=VARCHAR},
      expressCompany = #{expressCompany,jdbcType=VARCHAR},
      expressNumber = #{expressNumber,jdbcType=VARCHAR},
      goodsName = #{goodsName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  <!-- 新增条件查询 -->
  <select id="selectBySelective" parameterType="hashMap" resultType="hashMap">
    select 
    	<include refid="Base_Column_List" />
    from ali_send_goods
  </select>
</mapper>